*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #262626;
}

a{
    color: #262626;
}

h1, h2{
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    font-weight: 400;
    
    a{
        text-decoration: none;
        color: #262626;
    }
}

h1{
    margin: 0;
    padding: .67em 0;
}

img{
    width: 100%;
    height: auto;
}

.site-header{
    background: #fff;
    border-bottom: 2px solid #f3f3f3;
    padding-bottom: .67em;
}

.site-branding{
    padding: 0 1em;
}

.main-navigation{
    max-width: 940px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        
        li a{
            display: block;
            text-decoration: none;
            padding: 12px;
            
            &.active, &:hover{
                font-weight: 700;
            }
        }
    }
}

.entry-header, .entry-content p{
    padding: 0 1em;
}

.seperate{
    width: 60%;
    margin: 3vh auto;
}

// Gallery
.intro{
    width: 100%;
    height: 35vh;
    background-image: url(../images/intro_brushes.jpg);
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: #f2f2f2;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.95);
}

.gallery h2{
    text-align: center;
}

.featured-filter{
    max-width: 940px;
    margin: 10px auto;
    
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-flow: row;
        list-style: none;
        margin: 0;
        padding: 0;
        border-top: 2px solid #eee;

        li a{
            display: block;
            padding: 10px;
            text-decoration: none;
            
            &:hover{
                font-weight: 700;
                text-decoration: underline;
                text-decoration-style: dotted;
            }
        }

        li a.active-filter{
            background: #eee;
            font-weight: 700;
        }
    }
}

.gallery-grid{
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, auto);
}

.gallery-item{
    position: relative;
    
    &:hover .gallery-overlay{
        opacity: 1;
    }
    
    .gallery-overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h3{
        color: #262626;
        padding: 10px;
        background-color: aliceblue;
    }
    
    img{
        object-fit: cover;
        -o-object-fit: cover;
        height: 200px;
    }
}

.gallery-grid > * {
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

@supports (display: grid) {
  .gallery-grid > * {
    margin: 0;
  }
}

// Blog

.entry-content, .entry-footer{
    background: #fff;
    border-left: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
}

.entry-footer{
    background: #007bff;
    border-bottom: 2px solid #f3f3f3;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.share-buttons{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    li {
        padding: 10px 20px;
    }
    a, i{
       color: #fff;
       text-decoration: none;
    }
    
    a:hover{
        text-decoration: underline;
        text-decoration-style: dotted;
    }
}

.site-footer{
    background: #fff;
    border-top: 2px solid #f3f3f3;
    
    margin-top: 20px;
    
    a, i{
       color: #262626;
       text-decoration: none;
    }
    
    .footer-content{
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
    }
}

.backtotop{
    font-size: 2.5rem;
}

@media screen and (min-width: 37.5em) {
    .site-header{
        padding-bottom: 0;
    }
    
    .site-branding, .entry, .footer-content{
        max-width: 900px;
        margin: 0 auto;
    }
    
    .main-navigation{
        flex-direction: row;
        
        ul{
            width: 70%;
        }
    }
}