// Colors

/* Primary Colors
---------------------- */
$verydarkgrey: #262626;
$verylightgrey: #eee;
$mostlywhite: #f2f3f4;

/* Secondary Colors
---------------------- */
$salmon: #ff8c69;
$verylightcyan: #69dcff;

// Fonts
$fontsans: 'Roboto', sans-serif;
$fontserif: 'IM Fell DW Pica', serif;